<div id="header">
        <nav>
          <li class="fork"><a href="/">HOME</a></li>
          <div class="dropdown">
          	<li class="downloads"><a href="/classes">CLASSES</a></li>
          	<div class="dropdown-content">
          		<a href="/classes/first-layer/trooper/">Trooper</a>
          		<a href="/classes/first-layer/moonspawn/">Moonspawn</a>
          	</div>
          </div>
          <div class="dropdown">
          <li class="downloads"><a href="/feats">FEATS</a></li>
          	<div class="dropdown-content">
          		<a href="/feats/first-layer/trooper/personal">Trooper Personal Feats</a>
          		<a href="/feats/first-layer/trooper/special">Trooper Special Feats</a>
          		<a href="/feats/first-layer/trooper/doctrines">Battlefield Doctrines & Squad Feats</a>
          		<a href="/feats/first-layer/moonspawn/">Moonspawn Feats</a>
          	</div>
          </div>
          <li class="downloads"><a href="/lore">LORE</a></li>
        </nav>
      </div><!-- end header -->