---
---

@import "{{ site.theme }}";

body {
	background: #000000 url('../images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

section {
	background-color: rgba(37, 37, 37, 0.98);
	border-radius: 5px;
}

h2, h3, h4, h5, p {
	padding-left: 15px;
	padding-right: 15px;
}

section #title {
	margin: 0 0 0 0;
}

body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

div#toc {
	position: fixed;
	left: 5%;
	background-color: rgba(37, 37, 37, 0.98);
	border-radius: 5px;
	padding: 10px;
	overflow-y: auto;
	height: auto;
	width: 18%;
	word-wrap: break-word;
	max-height: 90%;
}

h3:before {
    content: '';
    display: block;
    position: relative;
    width: 0;
    height: 5em;
    margin-top: -5em;
}