---
---

@import "{{ site.theme }}";

body {
	background: #000000 url('../images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

section {
	background-color: rgba(37, 37, 37, 0.98);
	border-radius: 5px;
}

h2, h3, h4, h5, p {
	padding-left: 15px;
	padding-right: 15px;
}

section #title {
	margin: 0 0 0 0;
}

div#toc {
	position: fixed;
	left: 2%;
	background-color: rgba(37, 37, 37, 0.98);
	border-radius: 5px;
	padding: 10px;
}